g                   1
timeMax             50
timeStep            1e-3
saveCount           10
randomSeed          1
fStatFile           0
dataFile            2

width               2
domainLength        10
reservoirLength     0.3
reservoirHeight     2
gap                 0.16
alpha               0.48869

insbMaxFailed       6
rmsvelThreshold     1
volfracThreshold    0.3

radius_small        0.01
radius_large        0.02
dispersitySmall     0.1
dispersityLarge     0.2
ratio_small         0.8

rho                 1
sliding_small       0.0875
sliding_large       0.2679
rolling_small       0.0175
rolling_large       0.1228
collisionTime       5e-2
restitutionCoeff    0.01

