g                   1
timeMax             250
timeStep            1e-3
saveCount           500
randomSeed          1
fStatFile           1
dataFile            2

domainWidth         20
domainLength        60
reservoirLength     1
reservoirHeight     20
alpha               28

insbMaxFailed       0
volfracThreshold    0.04
timeToOpen          5
totalVolume         200

radius_small        0.05
radius_large        0.1
dispersitySmall     0.1
dispersityLarge     0.2
ratio_small         0.8

rho                 1
sliding_small       5
sliding_large       15
rolling_small       1
rolling_large       7
collisionTime       0.05
restitutionCoeff    0.01
