.title {
	font-family:'Droid Sans';
	color:#0f073f;
	font-size:15px;
}
 .henk {
	background-color: #F0F0FF;
} 
div.tabs > ul li:first-child {
	display:none;
}
div.image img{
	max-width: 50%;
}
