g                   1
timeMax             200
timeStep            0.001
saveCount           100
randomSeed          1
fStatFile           0
dataFile            2

length              0.5
width               3
height              5
gap                 0.16
alpha               0.4887

radius_small        0.01
radius_large        0.02
ratio_small         0.99874
dispersity_min      0.9
dispersity_max      1.0

rho                 1
sliding_small       0.0875
sliding_large       0.2695
rolling_small       0.0175
rolling_large       0.1228
collisionTime       0.05
restitutionCoeff    0.01

